/* Global styles */
*,
*::before,
*::after {
	margin: 0 0;
	padding: 0 0;

	outline: none;
	-webkit-tap-highlight-color: transparent;

	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body,
html,
#root {
	overflow-x: hidden;
	width: 100%;

  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center
}

h1,
h2,
h3,
h4 {
	margin: 0.4rem 1rem;
}

li {
	list-style: none;
}

hr {
	width: 80%;
}

input,
button {
	margin: 0.4rem 0.4rem;
	padding: 1rem 1.2rem;

	width: 30%;
  align-self: center;

	background-color: #ededed;

	border: none;
	border-radius: 5px;
}

button {
  width: 20%;
  cursor: pointer
}

@media screen and (max-width: 763px) {
	body,
	html,
	#root {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	hr {
		width: 100%;
	}

	input,
	button {
		width: 40%;
	}
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
}
/* Global styles */
